.row-layout {
    display: flex;
}
.master-view-container {
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: 100%;
}
.column-layout {
    display: flex;
    flex-direction: column;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 16px;
    position: relative;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
}
.button {
    --ig-size: var(--ig-size-small);
    height: max-content;
}
