@page "/"
@page "/master_view"

<div class="row-layout master-view-container">
    <div class="column-layout group">
        <IgbButton class="button" master_view-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton class="button" master_view-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton class="button" master_view-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton class="button" master_view-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton class="button" master_view-scope>
            Button
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
</div>

@code {
}
